

body{
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Karla";
  font-size: 16px;
  /*background-color:hsl(148, 38%, 91%);*/
  background-color: rgb(211,211,211);
  margin: 0;
  padding: 0; 
}

form{
    position: relative;
    margin: auto;
    /*width:100%;*/
    /*background-color: hsl(0, 0%, 100%);*/
    background-color: grey;
    border-radius: 15px;
    padding: 30px;

}

.pDetails{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 20px;
  column-gap: 20px;
}

.firstName,.lastName,.email{
  display: grid;
  grid-template-columns: repeat(1,1fr);
}

.email{
  grid-column-start: 1;
  grid-column-end:4;
}

label{
  padding-bottom:10px;
}
.email input{
  width: 95%;
}


input{
  border-radius: 5px;
  box-shadow: none;
  
  height:30px;
}

.enquiry{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  column-gap: 20px;
}

.enquiry label{
  margin-top: 20px;
  margin-bottom: 20px;
  grid-column-start: 1;
  grid-column-end:4;
}

.message{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  margin-top:20px;
  grid-column-start: 1;
  grid-column-end:4;
}

.message input{
  width: 95%;
}

.supR, .genE {

  padding-left: 20px;
  border-radius: 10px;
  border-style: solid;
  border-width: thin;
  height: 40px;
  width: 250px;

}

.supR label{
  text-align: center;
}

.supR input{
  border-radius: 50%;

}



